/* general styles */

* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans HK', sans-serif;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input,
fieldset,
textarea,
button,
option,
select {
  /* https://stackoverflow.com/questions/4230375/whats-the-easiest-way-to-remove-fieldset-border-lines used to remove border */
  font-size: 16px;
  font-family: 'Noto Sans HK', sans-serif;
  outline: none;
  border: none;
  margin-bottom: 30px;
}


/* Style the top bar */
.code-rev {
  background: #2d3945;
  text-align: center;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-rev p {
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
}

/* Form styles */

form {
  padding: 1rem 1.5rem;
  max-width: 800px;
}

form h1 {
  text-align: center;
  color: #2d3945;
  font-size: 1.8rem;
  margin-bottom: -10px;

}

form p {
  font-size: 1.2rem;
  text-align: center;
  color: rgba(45, 57, 69, .5);
  margin-bottom: 50px;
}

form hr {
  /* https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element*/
  display: block;
  height: 1px;
  border-top: 5px solid #2d3945;
  margin: 1em auto -12px auto;
  padding: 0;
}

form .hr-thin {
  /* https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element*/
  display: block;
  height: 1px;
  border-top: 2px solid #2d3945;
  margin: 1em auto 1rem auto;
  padding: 0;
}

/* first fieldset styles */

legend {
  font-size: 2rem;
  font-weight: bold;
  color: #2d3945;
}

form label {
  display: block;
  font-size: 1.3rem;
  padding: 1rem 0;
  color: rgba(45, 57, 69, .8);
}


input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  height: 75px;
  background: #eff0f1;
  border-radius: 5px;
  text-align: right;
  padding-right: 30px;
  transition: border .5s ease-out, background .5s ease-in-out;

}



form input:focus {
  border: 2px solid rgb(45, 57, 69);
  background: #c2e7c5;
}

input[placeholder="Required"] {
  text-align: right;
  padding-right: 30px;
}

input::placeholder {
  /* https://css-tricks.com/almanac/selectors/p/placeholder/ */
  color: rgba(45, 57, 69, .3)
}

select {
  display: block;
  padding: 1rem;
  height: 75px;
  width: 100%;
  font-size: 1.3rem;
}

#zip {
  max-width: 50%;
}

/******************** 

Field 2 styles

**********************/

/* div holds checkbox/radio and labels */

.fieldset-2 {
  background: rgba(250, 250, 210, .5);
  padding: 1rem;
  border-radius: 10px;
}

.fieldset-2 legend {
  position: relative;
  top: 20px;
  padding: 0 0 0 0;
  margin: 0 0 16px 0;
}

/* div holds checkbox/radio and label */
.nl-btn-holder {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  padding: 0;
  margin: 0;

}

label[for="html-news"],
label[for="css-news"],
label[for="js-news"],
label[for="format-html"],
label[for="format-plain-text"] {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 16px;

}

/* class for newletter label */
.format-type {
  margin-bottom: 0;
  padding-bottom: 0;
}


/********************
 Text area styles 
 ********************/
textarea {
  min-height: 75px;
  width: 100%;
  height: 100px;
  background: #eff0f1;
  padding: 10px;

}

textarea::placeholder {
  color: lightgray;
}

/* button and footer styles */
button {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
  background: #4ebbb5;
}

footer p {
  font-style: italic;
  font-size: 1rem;
  margin-top: 40px;
}

@media (min-width: 768px) {

  .code-rev p {
    font-size: 1rem;
  }

  form {
    width: 70%;
    margin: 0 auto;
  }

  form p {
    font-size: 1rem;
  }


  fieldset {
    padding: 0;
  }

  legend {
    text-align: left;
    font-size: 1.2rem;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  /* class for div that holds input fields */
  .label-holder {
    margin: 20px 0 -15px 0;
    display: flex;

  }

  label[for="name"],
  label[for="email"],
  label[for="phone"],
  label[for="address"],
  label[for="city"],
  label[for="state"],
  label[for="zip"] {
    font-size: 1rem;
  }

  #zip {
    width: 33%;
    height: 50px;
  }


  .label-holder label {
    width: 25%;
  }

  .label-holder input {
    width: 75%;
    padding-left: 0;
    margin-left: 0;
  }

  .label-holder select {
    width: 75%;
    padding-left: 0;
    margin-left: 0;
  }

  .nl-btn-holder {
    margin: -5px 0;
  }

  /* class for newletter label */
  .nl-label {
    margin: -10px 0 0 0;
    font-size: 1.2rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select[name="home-state"],
  input[placeholder="Required"] {
    height: 50px;
    text-align: left;
    padding-left: 10px;
    font-size: 1rem;
  }

  .format-type,
  .nl-label {
    font-size: 1rem;
  }

  label[for="html-news"],
  label[for="css-news"],
  label[for="js-news"],
  label[for="format-html"],
  label[for="format-plain-text"],
  textarea {
    font-size: 1rem;
  }

  label[for="other-topics"] {
    font-size: 1rem;
  }

  button[type="submit"] {
    font-size: 1rem;
  }

}